form.content__form.caseForm
  
  .casex-form-group
    
    .row
      .col-3
        p.formLabel#drNumLabel DR#
      .col-9
        input#drNumInput.caseForm__input.caseForm__input--number(
          name='drNum'
          class='form-control'
          placeholder='Enter DR#...'
          min='0'
          max='999999999'
          step='1'
          type='number'
          )
        small.text-danger#drNumSmall
    
    .row
      .col-3
        p.formLabel#masterDrNumLabel Master DR#
      .col-9
        input#masterDrNumInput.caseForm__input.caseForm__input--number(
          name='masterDrNum'
          class='form-control'
          placeholder='Enter Master DR#...'
          min='0'
          max='999999999'
          step='1'
          type='number'
          )
        small.text-danger#masterDrNumSmall
  
  .casex-form-group
  
    .row
      .col-3
        p.formLabel#divisionLabel Division
      .col-9
        select#divisionInput.caseForm__input.caseForm__input--select(
          name='division'
          class='form-control'
          )
          option(selected disabled hidden) Select Division...
          option 77th Street
          option Harbor
          option Southwest
          option Southeast
        small.text-danger#divisionSmall
    
    .row
      .col-3
        p.formLabel#bureauLabel Bureau
      .col-9
        select#bureauInput.caseForm__input.caseForm__input--select(
          name='bureau'
          class='form-control'
          )
          option(selected disabled hidden) Select Bureau...
          option OSB
          option OCB
          option OWB
          option OVB
        small.text-danger#bureauSmall
  
  .casex-form-group
    
    .row
      .col-3
        p.formLabel#notesLabel Notes
      .col-9
        textarea#notesInput.caseForm__input.caseForm__input--text(
          name='notes'
          placeholder='Enter Notes...'
          type='text'
          class='form-control'
          rows='5'
          )
        small.text-danger#notesSmall
        
  .casex-form-group
        
    .row
      .col-3
        p.formLabel#dateOccuredLabel Date Occured
      .col-9
        input#dateOccuredInput.caseForm__input.caseForm__input--text(
          name="dateOccured"
          class='form-control'
          type="date"
          )
        small.text-danger#dateOccuredSmall
          
    .row
      .col-3
        p.formLabel#dateReportedLabel Date Reported
      .col-9
        input#dateReportedInput.caseForm__input.caseForm__input--text(
          name="dateReported"
          class='form-control'
          type="date"
          )
        small.text-danger#dateReportedSmall
          
    .row
      .col-3
        p.formLabel#reportingDistrictLabel Reporting District
      .col-9
        select#reportingDistrictInput.caseForm__input.caseForm__input--select(
          name='reportingDistrict'
          class='form-control'
          )
          option(selected disabled hidden) Select Reporting District...
          option a 
          option b 
          option c 
        small.text-danger#reportingDistrictSmall
        
  .casex-form-group
        
    .row
      .col-3
        p.formLabel#caseStatusLabel Case Status
      .col-9
        select#caseStatusInput.caseForm__input.caseForm__input--select(
          name='caseStatus'
          class='form-control'
          )
          option(selected disabled hidden) Select Case Status...
          option Open
          option Closed
        small.text-danger#caseStatusSmall
          
    .row
      .col-3
        p.formLabel#caseStatusDateLabel Case Status Date
      .col-9
        input#caseStatusDateInput.caseForm__input.caseForm__input--text(
          name="caseStatusDate"
          class='form-control'
          type="date"
          )
        small.text-danger#caseStatusDateSmall
          
    .row
      .col-3
        p.formLabel#solvabilityFactorLabel Solvability
      .col-9
        select#solvabilityFactorInput.caseForm__input.caseForm__input--select(
          name='solvabilityFactor'
          class='form-control'
          )
          option(selected disabled hidden) Select Solvability Factor...
          option Easy
          option Medium
          option Hard
        small.text-danger#solvabilityFactorSmall
      
.casex-form-group
      
  .row
    .col-3
      p.formLabel#weaponLabel Weapon Used
    .col-4
      .form-check
        label(class='form-check-label')
          input(class='form-check-input' type='checkbox' name='handgun')#weaponInput_handgun
          |  Handgun
      .form-check
        label(class='form-check-label')
          input(class='form-check-input' type='checkbox' name='rifle')#weaponInput_rifle
          |  Rifle
      .form-check
        label(class='form-check-label')
          input(class='form-check-input' type='checkbox' name='blunt force')#weaponInput_bluntForce
          |  Blunt force
      small.text-danger#weaponSmall
    .col-5
      .form-check
        label(class='form-check-label')
          input(class='form-check-input' type='checkbox' name='bodily force')#weaponInput_bodilyForce
          |  Bodily force
      .form-check
        label(class='form-check-label')
          input(class='form-check-input' type='checkbox' name='knife')#weaponInput_knife
          |  Knife
      .form-check
        label(class='form-check-label')
          input(class='form-check-input' type='checkbox' name='unknown')#weaponInput_unknown
          |  Unknown
      
.casex-form-group
        
  .row
    .col-3
      p.formLabel#motiveLabel Motive
    .col-4
      .form-check
        label(class='form-check-label')
          input(class='form-check-input' type='checkbox' name='robbery')#motiveInput_robbery
          |  Robbery
      .form-check(name='burglary')
        label(class='form-check-label')
          input(class='form-check-input' type='checkbox' name='burglary')#motiveInput_burglary
          |  Burglary
      .form-check
        label(class='form-check-label')
          input(class='form-check-input' type='checkbox' name='gang')#motiveInput_gang
          |  Gang
      .form-check
        label(class='form-check-label')
          input(class='form-check-input' type='checkbox' name='narcotics')#motiveInput_narcotics
          |  Narcotics
      .form-check
        label(class='form-check-label')
          input(class='form-check-input' type='checkbox' name='domestic violence')#motiveInput_domesticViolence
          |  Domestic violence
      small.text-danger#motiveSmall
    .col-5
      .form-check
        label(class='form-check-label')
          input(class='form-check-input' type='checkbox' name='dispute')#motiveInput_dispute
          |  Dispute
      .form-check
        label(class='form-check-label')
          input(class='form-check-input' type='checkbox' name='accidental')#motiveInput_accidental
          |  Accidental
      .form-check
        label(class='form-check-label')
          input(class='form-check-input' type='checkbox' name='self defense')#motiveInput_selfDefense
          |  Self defense
      .form-check
        label(class='form-check-label')
          input(class='form-check-input' type='checkbox' name='unknown')#motiveInput_unknown
          |  Unknown
