form.content__form.input-form
  .row
    .col-2
      p DR#
    .col-10
      input#drNumInput.input-form__input.input-form__input--number(
        name='drNum'
        placeholder='Enter DR#'
        min='0'
        max='999999999'
        step='1'
        type='number'
        )
  
  .row
    .col-2
      p Master DR#
    .col-10
      input#masterDrNumInput.input-form__input.input-form__input--number(
        name='masterDrNum'
        placeholder='Enter master DR#'
        min='0'
        max='999999999'
        step='1'
        type='number'
        )
  
  .row
    .col-2
      p Division
    .col-10
      select#divisionInput.input-form__input.input-form__input--select(
        name='division'
        class='form-control'
        )
        option(selected) Select Division...
        option 77th Street
        option Harbor
        option Southwest
        option Southeast
  
  .row
    .col-2
      p Bureau
    .col-10
      select#bureauInput.input-form__input.input-form__input--select(
        name='bureau'
        class='form-control'
        )
        option(selected) Select Bureau...
        option OSB
        option OCB
        option OWB
        option OVB
      
  .row
    .col-2
      p Victim Name
    .col-10
      input#drNumInput.input-form__input.input-form__input--text(
        name="victimName"
        placeholder="Enter victim name"
        type="text"
        )
  
  .row
    .col-2
      p Notes
    .col-10
      input#notesInput.input-form__input.input-form__input--text(
        name='notes'
        placeholder='Enter notes'
        type='text'
        )
