form#newSuspectForm
  
  .row
    .col-3
      p.formLabel#suspFirstNameLabel Suspect First
    .col-9
      input#suspFirstNameInput.newSuspectForm__input.newSuspectForm__input--number(
        name='suspFirstName'
        placeholder='Enter First Name...'
        type='text'
        class='form-control'
        )
      small.text-danger#suspFirstNameSmall
        
  .row
    .col-3
      p.formLabel#suspMiddleNameLabel Suspect Middle
    .col-9
      input#suspMiddleNameInput.newSuspectForm__input.newSuspectForm__input--number(
        name='suspMiddleName'
        placeholder='Enter Middle Name...'
        type='text'
        class='form-control'
        )
      small.text-danger#suspMiddleNameSmall
        
  .row
    .col-3
      p.formLabel#suspLastNameLabel Suspect Last
    .col-9
      input#suspLastNameInput.newSuspectForm__input.newSuspectForm__input--number(
        name='suspLastName'
        placeholder='Enter Last Name...'
        type='text'
        class='form-control'
        )
      small.text-danger#suspLastNameSmall
        
  .row
    .col-3
      p.formLabel#suspSexLabel Suspect Sex
    .col-9
      select#suspSexInput.newSuspectForm__input.newSuspectForm__input--select(
        name='suspSex'
        class='form-control'
        )
        option(selected disabled hidden) Select Suspect Sex...
        option Female
        option Male
        option Transgender
        option Other
        option Unknown
      small.text-danger#suspSexSmall
        
  .row
    .col-3
      p.formLabel#suspSupervisedReleaseStatusLabel Suspect S.R.S.
    .col-9
      select#suspSupervisedReleaseStatusInput.newSuspectForm__input.newSuspectForm__input--select(
        name='suspSupervisedReleaseStatus'
        class='form-control'
        )
        option(selected disabled hidden) Select Suspect Supervised Released Status...
        option (not provided yet)
      small.text-danger#suspSupervisedReleaseStatusSmall
        
  .row
    .col-3
      p.formLabel#suspDescLabel Suspect Desc.
    .col-9
      textarea#suspDescInput.newSuspectForm__input.newSuspectForm__input--text(
        name='suspDesc'
        placeholder='Enter Description...'
        type='text'
        class='form-control'
        rows='5'
        )
      small.text-danger#suspDescSmall
        
  .row
    .col-3
      p.formLabel#suspAgeLabel Suspect Age
    .col-9
      input#suspAgeInput.newSuspectForm__input.newSuspectForm__input--number(
        name='suspAge'
        class='form-control'
        placeholder='Enter Age...'
        min='0'
        max='130'
        step='1'
        type='number'
        )
      small.text-danger#suspAgeSmall
  
  .row
    .col-3
      p.formLabel#juvenileTriedAsAdultLabel Juvenile Tried as Adult
    .col-9
      select#juvenileTriedAsAdultInput.newSuspectForm__input.newSuspectForm__input--select(
        name='juvenileTriedAsAdult'
        class='form-control'
        )
        option(selected disabled hidden) Select Juvenile Tried as Adult...
        option(value='true') Yes
        option(value='false') No
      small.text-danger#juvenileTriedAsAdultSmall
        
small.text-danger#newSuspectFormSmall
        
form#existingSuspectForm
  
  .row
    .col-3
      p.formLabel#suspIdLabel Suspect ID
    .col-9
      select#suspIdInput.existingSuspectForm__input.existingSuspectForm__input--select(
        name='suspId'
        class='form-control'
        )
        option(selected disabled hidden) Select Existing Suspect ID...
        option (not built yet)
      small.text-danger#suspIdSmall
