form#newVictimForm
  
  .row
    .col-3
      p.formLabel#victFirstNameLabel Victim First
    .col-9
      input#victFirstNameInput.newVictimForm__input.newVictimForm__input--text(
        name='victFirstName'
        placeholder='Enter First Name...'
        type='text'
        class='form-control'
        )
      small.text-danger#victFirstNameSmall
        
  .row
    .col-3
      p.formLabel#victMiddleNameLabel Victim Middle
    .col-9
      input#victMiddleNameInput.newVictimForm__input.newVictimForm__input--text(
        name='victMiddleName'
        placeholder='Enter Middle Name...'
        type='text'
        class='form-control'
        )
      small.text-danger#victMiddleNameSmall
        
  .row
    .col-3
      p.formLabel#victLastNameLabel Victim Last
    .col-9
      input#victLastNameInput.newVictimForm__input.newVictimForm__input--text(
        name='victLastName'
        placeholder='Enter Last Name...'
        type='text'
        class='form-control'
        )
      small.text-danger#victLastNameSmall
        
  .row
    .col-3
      p.formLabel#victSexLabel Victim Sex
    .col-9
      select#victSexInput.newVictimForm__input.newVictimForm__input--select(
        name='victSex'
        class='form-control'
        )
        option(selected disabled hidden) Select Victim Sex...
        option Female
        option Male
        option Transgender
        option Other
        option Unknown
      small.text-danger#victSexSmall
        
  .row
    .col-3
      p.formLabel#victDescLabel Victim Desc.
    .col-9
      textarea#victDescInput.newVictimForm__input.newVictimForm__input--text(
        name='victDesc'
        placeholder='Enter Description...'
        type='text'
        class='form-control'
        rows='5'
        )
      small.text-danger#victDescSmall
        
  .row
    .col-3
      p.formLabel#victAgeLabel Victim Age
    .col-9
      input#victAgeInput.newVictimForm__input.newVictimForm__input--number(
        name='victAge'
        class='form-control'
        placeholder='Enter Age...'
        min='0'
        max='130'
        step='1'
        type='number'
        )
      small.text-danger#victAgeSmall
        
form#existingVictimForm
  
  .row
    .col-3
      p.formLabel#victIdLabel Victim ID
    .col-9
      select#victIdInput.existingVictimForm__input.existingVictimForm__input--select(
        name='victId'
        class='form-control'
        )
        option(selected disabled hidden) Select Existing Victim ID...
        option (not built yet)
      small.text-danger#victIdSmall
