.row
  .col-3
    p.formLabel#streetNumberLabel Street Number
  .col-9
    input#streetNumberInput(
      name='streetNumber'
      class='form-control'
      placeholder='Enter Street Number...'
      min='0'
      max='99999'
      step='1'
      type='number'
      )
    small.text-danger#streetNumberSmall
      
.row
  .col-3
    p.formLabel#streetNameLabel Street Name
  .col-9
    input#streetNameInput(
      name='streetName'
      placeholder='Enter Street Name...'
      type='text'
      class='form-control'
      )
    small.text-danger#streetNameSmall

.row
  .col-3
    p.formLabel#cityLabel City
  .col-9
    input#cityInput(
      name='city'
      placeholder='Enter City...'
      type='text'
      class='form-control'
      )
    small.text-danger#citySmall
          
.row
  .col-3
    p.formLabel#zipCodeLabel Zip Code
  .col-9
    input#zipCodeInput(
      name='zipCode'
      class='form-control'
      placeholder='Enter Zip Code...'
      min='0'
      max='99999'
      step='1'
      type='number'
      )
    small.text-danger#zipCodeSmall
